body{
    background-color: #3C552D;
    color: #D7B26D;

}

.game-container{
    background-color: #EEE2B5;
    color: #D7B26D;
}

.button{
    background-color: #CA7373;
    color: #D7B26D;
}